body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333; /* Default text color */
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    border-bottom: 3px solid #e8491d;
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #e8491d;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #35424a;
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 3px solid #e8491d;
}

footer .social-links {
    margin-top: 10px;
}

footer .social-links a {
    color: #ffffff;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}

footer .social-links a:hover {
    color: #e8491d;
}

.project-ideas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.project-ideas p {
    flex: 1 1 calc(50% - 40px); /* Adjust the width as needed */
    background: #f9f9f9;
    padding: 10px;
    border: 1px solid #ddd;
    margin: 0;
    background-color: #e0f7fa; /* Light cyan background */
    color: #006064; /* Dark cyan text */
    border-radius: 8px;
}

.project-ideas p:nth-child(odd) {
    background-color: #ffecb3; /* Light yellow background for odd items */
    color: #ff6f00; /* Dark orange text for odd items */
}

#about a {
    text-decoration: none;
    color: #0000ff; /* Optional: set a specific color for the links */
}

#about a:hover {
    text-decoration: underline; /* Optional: add underline on hover */
}

footer {
    text-align: center;
    padding: 20px 0;
    background: #35424a;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
    border-top: 3px solid #e8491d;
}

footer .social-links {
    margin-top: 10px;
}

footer .social-links a {
    color: #ffffff;
    margin: 0 10px;
    font-size: 24px;
    text-decoration: none;
}
footer .social-links a:hover {
    color: #e8491d;
}
